layout pyenv 3.11.6

# This file instructs dotenv to create/load a virtual python environment 
# and load the environment variables specified in the .env file.

PATH_add .

# Load env settings from .env file
# https://github.com/direnv/direnv/issues/348#issuecomment-547348842
set -a
. .env
set +a
